{% extends 'layouts/default.html' %}

{% block content %}

{% include 'components/breadcrumb.html' with { page:'Search' , title: keywords} %}

<!-- Main Content -->
<section class="content-section-2">
	<div class="content-heading-2">
		<h2>
			Search for: {{keywords}}
		</h2>
		<span>
			Find {{postsCount}} results
		</span>
	</div>

	{% set resources = posts %}
	{% set count = listData.getResourcesCount() %}

	{% include 'components/search_box.html' %}


	<div class="card-section-3">
		{% if postsCount > 0 %}

		{% include 'components/list_card_4.html' with { resources: resources, count: count } %}
		{% else %}
		<div class="flex justify-center my-10 col-span-3">
			<h1 class="text-2xl font-medium text-primary">No result found</h1>
		</div>
		{% endif %}
	</div>

	{% include 'components/pagination_tailwind.html' with { count: count } %}

</section>
<!-- End Main Content -->

{% endblock %}