{% extends 'layouts/default.html' %}

{% block content %}

{% include 'components/breadcrumb.html' with { page:'Tag' , title: websiteTag.name} %}

<!-- Main Content -->
<section class="content-section-2">
	<div class="content-heading-2">
		<h2>
			{{websiteTag.name}}
		</h2>
		<span>
			Browse selected WHO news below.
		</span>
	</div>

	<div class="card-section-1">
		{% if postsCount > 0 %}
		{% include 'components/list_card_4.html' with { resources: listData.getResources(), count: listData.getResourcesCount() } %}
		{% else %}
		<div class="flex justify-center my-10 col-span-3">
			<h1 class="text-2xl font-medium text-primary">No result found</h1>
		</div>
		{% endif %}
	</div>

	{% include 'components/pagination_tailwind.html' with { count: listData.getResourcesCount() } %}

</section>
<!-- End Main Content -->

{% endblock %}