{% if resource %}

{% set thumbnailFile = model_relation(resource, 'thumbnailFile') %}

<div class="card-container-1">
	<a>
		<div class="card-image">
			<img src="{{ image_url( thumbnailFile ) }}" >
		</div>
		<div class="card-info-3">
			<div class="card-date">
				<span>{{ resource.created_at | date("j F Y") }}</span>
				<span>|</span>
				{% for websiteTag in model_relation(resource, 'websiteTags') | slice(0,1) %}
				<a href="{{ link_to(websiteTag) }}"><span>{{ websiteTag.name }}</span></a>
				{% endfor %}
			</div>

			<a href="{{link_post(resource)}}">
				<p class="card-heading">{{resource.title}}</p>
			</a>

		</div>
	</a>
</div>

{% endif %}