<div>
	<div class="content-heading-1">
		<a>
			<h2>
				Lasted Posts
			</h2>
			<div class="pagination-icon-container">
				<button id="prevPageBtn">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
  			<path fill-rule="evenodd" d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06l-7.5-7.5Z" clip-rule="evenodd" />
				</svg>
				</button>

				<button id="nextPageBtn" >
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
  			<path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z" clip-rule="evenodd" />
				</svg>
					</button>

			</div>

		</a>
	</div>

	<div class="card-section-1" id="lastedPosts">
		<p></p>
		<div id="loadingIndicator" style="display: none;">

			<p class="flex justify-center">
				<svg class="animate-spin h-12 w-12" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
					<circle class="opacity-25" cx="12" cy="12" r="10" stroke="#003B72" stroke-width="4"></circle>
					<path class="opacity-75" fill="#003B72"
									d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
					</path>
				</svg>
			</p>
		</div>
		<p></p>
		{% include 'components/list_card_2.html' with { resources: listData} %}
	</div>

	{#
	<div>
		{% include 'components/pagination_tailwind.html' with { count: count } %}
	</div>
	#}
</div>