{% set loopIndex = 0 %}
{% for id in ids %}
{% set tagIds = tag_data_list[id]['ids']|join(', ') %}
{% set querySection = multikey_filter_post_query()
.setFilterKeys([tagIds])
.where('visibility', '=', 'public')
.setFilterKeyMatchingType('all')
.sortBy('created_at')
.setLimit(9)
.sortDesc()
%}
{% set categoriesData = multikey_filter_get_posts(querySection) %}

{% if categoriesData is not empty %}
{% set catrs = website_category_find_by_id(tagIds) %}

<div>
	<div class="content-heading-3">
		<a href="{{ link_to(catrs) }}" role="link">
			<h2>{{ tag_data_list[id]['tag_name'] }}</h2>
			{# Bỏ phần "All →" nếu không cần thiết #}
		</a>
	</div>

	{% if loopIndex == 0 %}
	<div class="card-item">
		{% for data in categoriesData|slice(0,2) %}
		{% include 'components/resources_card_6.html' with { resource: data } %}
		{% endfor %}
	</div>
	{% else %}
	{% include 'components/list_card_3.html' with { resources: categoriesData } %}
	{% endif %}
</div>
{% endif %}
{% set loopIndex = loopIndex + 1 %}
{% endfor %}
